.card {
  border-radius: 5px;
  display: flex;
  height: 90%;
  justify-content: center;
  align-items: center;
  line-height: 1.5;
}

.div {
  background: #69be41;
  border: 1px solid #ccc;
  border-radius: 14px;
  box-shadow: 1px 1px 1px 1px #999;
  height: 315px;
  width: 500px;
}

.card h3 {
  margin-top: 10px;
}

.card input {
  border: 1px solid #ccc;
  box-shadow: 1px 1px 1px #999;
  line-height: 1.5;
  margin-top: 10px;
}

.div-buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 30px;
}

.card a {
  color: #fff;
  font-weight: bold;
  transition: all 1s;
  width: 40%;
}

.card a:hover {
  color: #fff;
  background: transparent;
  font-weight: bold;
}

.card button {
  font-weight: bold;
  transition: all 1s;
  width: 40%;
}

.card button:hover {
  color: #fff;
  background: transparent;
  font-weight: bold;
}

.card input {
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 1px 1px 1px #999;
  line-height: 1.5;
}
