.button {
  align-items: center;
  background: none;
  border: 2px;
  border-radius: 5px;
  color: #69be41;
  display: flex;
  font-weight: bold;
  margin-right: 10px;
  padding: 10px;
  text-decoration: none;
  transition: all 0.2s;
}

.button:hover {
  background: red;
  color: #000000;
}

.span {
  color: #69be41;
  font-size: 22px;
  font-weight: bold;
}
